{{ define "lancamentos_comando_form" }}
<lancamentos x-data="CriarLancamento({{ if . }}{{ . | jsonify }}{{ end }})" class="row">
  <form x-ref="formAdicionarLancamento" class="p-3" @submit.prevent="submit">
    <section class="row">
      <cadastro after="true" class="col-lg mt-2">
        <label>Evento</label>
        <select required>
          <template x-for="evento in eventosLancamento">
            <option
              :value="evento.value"
              {{ if . }}:selected="evento.value === '{{ .Evento }}'"{{ end }}
              x-text="evento.label"
            ></option>
          </template>
        </select>
      </cadastro>
      <cadastro after="true" class="col-lg mt-2">
        <label class="text-nowrap">Natureza da Transação</label>
        <select required>
          <template x-for="nat in naturezas">
            <option
              :value="nat"
              {{ if . }}:selected="nat === '{{ .Natureza }}'"{{ end }}
              x-text="nat"
            ></option>
          </template>
        </select>
      </cadastro>
      <cadastro after="true" class="col-lg mt-2">
        <label class="text-nowrap">Meio Financeiro</label>
        <select required>
          <template x-for="meio in meios_financeiros">
            <option
              :value="meio"
              {{ if . }}:selected="meio === '{{ .MeioFinanceiro }}'"{{ end }}
              x-text="meio"
            ></option>
          </template>
        </select>
      </cadastro>
      <cadastro class="col-lg mt-2">
        <label>Valores</label>
        <before value="R$">
          <input
            type="number"
            step="0.0001"
            {{ if . }}value="{{ .Valores }}"{{ end }}
            required
          />
        </before>
      </cadastro>
      <cadastro class="col-lg mt-2">
        <label>Vencimento</label>
        <input-datetime
          name="vencimento"
          value="{{ if . }}{{ .Vencimento.Format "2006-01-02T15:04:05Z07:00" }}{{ end }}"
          required
        />
      </cadastro>
    </section>
    <section class="row">
      <cadastro class="col-md mt-2">
        <label>Descrição</label>
        <textarea
          rows="3"
          placeholder="Adicione uma descrição sobre a transação"
          type="text"
          maxlength="500"
          required
        >{{ if . }}{{ .Descricao }}{{ end }}</textarea>
      </cadastro>
    </section>
    <section>
      <button
        :disabled="criando"
        class="col-4 offset-8 mt-2 btn btn-dark d-inline-flex align-items-center justify-content-center"
      >
        <span class="px-2">Submit</span>
        <span
          :class="criando && 'visible'"
          class="spinner-border spinner-border-sm fade-opacity"
          aria-hidden="true"
        ></span>
      </button>
    </section>
  </form>
</lancamentos>
{{ end }}
