{{ define "partial" }}
<lancamentos x-data="ConsultaLancamentos" class="d-lg-flex px-0 py-2 border-box">
  <section id="FomularioConsultaLancamentos" class="col-12 col-lg-3 pe-3 pt-40px">
    {{ template "form" . }}
  </section>

  <section id="ResultadosConsultaLancamentos" class="col-12 col-lg-9">
    <cabecalho class="border-bottom border-top border-2 border-dark w-100 py-2 d-flex">
      <div class="col-3">timestamp</div>
      <div class="col-2">natureza</div>
      <div class="col-4">detalhes</div>
      <div class="col-2 text-center ms-2 pe-0">valores</div>
      <div class="col-1 ps-0"></div>
    </cabecalho>

    <resultados class="border-box">
      {{ range .Resultado.Itens }} {{ template "lancamento" . }} {{ end }}
    </resultados>
  </section>
</lancamentos>
{{ end }}
