{{ define "consulta" }}
<form
  hx-get="/api/lancamentos"
  hx-trigger="load, submit"
  hx-target="resultados"
  hx-swap="innerHTML"
  hx-on::config-request=""
>
  <filtros class="row py-3">
    <filtro class="col-md">
      <label>Intervalo</label>
      <input-intervalo name="timestamp" />
    </filtro>
    <filtro class="col-md">
      <label>Descrição</label>
      <input type="text" name="descricao" />
    </filtro>
    <filtro class="col-md">
      <label>Chave</label>
      <input type="text" name="chave" />
    </filtro>
    <filtro class="col-md" after="true">
      <label>Evento</label>
      <select name="evento">
        <option value="">Selecione</option>
        <option value="LancamentoPrevisto">Previsto</option>
        <option value="LancamentoPago">Pago</option>
        <option value="LancamentoRecebido">Recebido</option>
        <option value="LancamentoCancelado">Cancelado</option>
      </select>
    </filtro>
    <filtro class="col-md-2">
      <submit>
        <button class="btn btn-darker">Filtrar</button>
      </submit>
    </filtro>
  </filtros>
</form>
{{ end }}

<!-- prettier-ignore -->
{{/*  */}}

{{ define "partial" }}
<lancamentos x-data="ConsultaLancamentos" class="py-2">
  <!-- prettier-ignore -->
  {{ template "consulta" . }}

  <header>
    <div class="border-bottom border-top border-2 border-dark row p-2">
      <div class="row ps-2 pe-0">
        <div class="col-4 d-flex">
          <div class="col-9">timestamp</div>
          <div class="col-3 text-center">evento</div>
        </div>
        <div class="col-5">detalhes</div>
        <div class="col-2 text-end ms-2 pe-0">valores</div>
        <div class="col-1 ps-0"></div>
      </div>
    </div>
  </header>

  <resultados></resultados>
</lancamentos>
{{ end }}
