package views

templ CriarLancamento() {
	<lancamentos x-data="CriarLancamento">
		<form
			x-ref="formAdicionarLancamento"
			class="bg-body-tertiary rounded-2 p-3"
			@submit.prevent="submit"
		>
			<section class="row">
				<input-transacao class="col-xl col-lg-4 mt-2">
					<label class="form-label">Evento</label>
					<select class="form-select"x-model="modelo.evento" required>
						<option value="LancamentoCriado">Novo</option>
						<option value="LancamentoPrevisto">Previsto</option>
					</select>
				</input-transacao>
				<input-natureza class="col-xl col-lg-4 mt-2">
					<label class="form-label text-nowrap">Natureza da Transação</label>
					<select class="form-select" x-model="modelo.natureza" required >
						<option value="">Selecione</option>
						<template x-for="nat in naturezas">
							<option :value="nat" x-text="nat"></option>
						</template>
					</select>
				</input-natureza>
				<input-meio-transacao class="col-xl col-lg-4 mt-2">
					<label class="form-label text-nowrap">Meio de Transação</label>
					<select class="form-select" x-model="modelo.meioTransacao" required>
						<option value="">Selecione</option>
						<template x-for="meio in meios_transacao">
							<option :value="meio" x-text="meio"></option>
						</template>
					</select>
				</input-meio-transacao>
				<input-valores class="col-xl col-lg-4 mt-2">
					<label class="form-label">Valores</label>
					<div class="input-group">
						<span class="input-group-text">R$</span>
						<input class="form-control" type="number" step="0.0001" x-model="modelo.valores" required />
					</div>
				</input-valores>
				<input-vencimento class="col-lg col-md mt-2">
					<label class="form-label">Vencimento</label>
					<input class="form-control" type="datetime-local" x-model="modelo.vencimento" required />
				</input-vencimento>
			</section>
			<section class="row">
				<input-descricao class="col-md mt-2">
					<label class="form-label">Descrição</label>
					<textarea rows="3" class="form-control" x-model="modelo.descricao" placeholder="Adicione uma descrição sobre a transação" type="text" maxlength="500" required />
				</input-descricao>
			</section>
			<section>
				<button class="col-4 offset-8 mt-2 btn btn-primary">Submit</button>
			</section>
		</form>
	</lancamentos>
}

templ ConsultaLancamentos() {
	<lancamentos x-data="ConsultaLancamentos">
		<template x-for="(lancamento, index) in lancamentos" :key="`${lancamento.id}-${lancamento.chave}`">
			<lancamento>
				<div x-text="lancamento.id"></div>
				<div x-text="lancamento.evento"></div>
				<div x-text="lancamento.valores"></div>
				<div x-text="lancamento.natureza"></div>
				<div x-text="lancamento.description"></div>
				<div x-text="lancamento.vencimento"></div>
			</lancamento>
		</template>
	</lancamentos>
}

templ Lancamentos() {
	<section>
		@CriarLancamento()
		@ConsultaLancamentos()
	</section>
}
