{{ define "partial" }}
<lancamentos x-data="CriarLancamento" class="row">
  <form x-ref="formAdicionarLancamento" class="p-3" @submit.prevent="submit">
    <section class="row">
      <cadastro after="true" class="col-xl col-lg-4 mt-2">
        <label>Evento</label>
        <select x-model="modelo.evento" required>
          <template x-for="evento in eventosLancamento">
            <option :value="evento.value" x-text="evento.label"></option>
          </template>
        </select>
      </cadastro>
      <cadastro after="true" class="col-xl col-lg-4 mt-2">
        <label class="text-nowrap">Natureza da Transação</label>
        <select x-model="modelo.natureza" required>
          <template x-for="nat in naturezas">
            <option :value="nat" x-text="nat"></option>
          </template>
        </select>
      </cadastro>
      <cadastro after="true" class="col-xl col-lg-4 mt-2">
        <label class="text-nowrap">Meio Financeiro</label>
        <select x-model="modelo.meioFinanceiro" required>
          <template x-for="meio in meios_financeiros">
            <option :value="meio" x-text="meio"></option>
          </template>
        </select>
      </cadastro>
      <cadastro class="col-xl col-lg-4 mt-2">
        <label>Valores</label>
        <before>R$</before>
        <input type="number" step="0.0001" x-model="modelo.valores" required />
      </cadastro>
      <cadastro class="col-lg col-md mt-2">
        <label>Vencimento</label>
        <input type="datetime-local" x-model="modelo.vencimento" required />
      </cadastro>
    </section>
    <section class="row">
      <cadastro class="col-md mt-2">
        <label>Descrição</label>
        <textarea
          rows="3"
          x-model="modelo.descricao"
          placeholder="Adicione uma descrição sobre a transação"
          type="text"
          maxlength="500"
          required
        />
      </cadastro>
    </section>
    <section>
      <button
        :disabled="criando"
        class="col-4 offset-8 mt-2 btn btn-dark d-inline-flex align-items-center justify-content-center"
      >
        <span class="px-2">Submit</span>
        <span
          :class="criando && 'visible'"
          class="spinner-border spinner-border-sm fade-opacity"
          aria-hidden="true"
        ></span>
      </button>
    </section>
  </form>
</lancamentos>
{{ end }}
